body {
    /* Delete height later */
    height:100%;
    /* Font Family yukle*/
    font-family: Noto , sans-serif;
    font-weight: 400px;
    position: relative;
}
main {
    
}
a {
    text-decoration: none;
    text-decoration-line: none;
}
